/* Responsive Design */
@media (max-width: 991px) {
    .sub-navbar ul.info li {
        margin: 0;
        padding: 0;
    }

    .navbar-nav {
        background-color: #f1f0fe;
        border-radius: 0 0 25px 25px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    }

    .nav-item {
        border-top: 1px solid #ddd;
    }

    .nav-link {
        font-weight: 400;
        background-color: #fff;
        border-radius: 0 0 25px 25px;
    }

    .navbar-collapse {
        display: none;
    }

    .navbar-collapse.show {
        display: block;
        position: absolute;
        top: 68px;
        left: 0;
        right: 0;
        width: 60%;
        margin: auto;
        text-align: center;
    }

    .carousel-caption h2 {
        width: 70%;
    }
}

@media (max-width: 767px) {
    ul.info {
        flex-direction: column;
        align-items: start !important;
    }

    ul.social-links {
        flex-wrap: wrap;
        row-gap: 5px;
    }

    .sub-navbar ul.info li {
        font-size: .75rem;
        row-gap: 5px;
    }

    .carousel-caption h2 {
        width: 100%;
    }
}

@media (max-width: 575.98px) {
    .navbar-collapse.show {
        width: 100%;
        top: 76px;
    }

    .carousel-caption h2 {
        font-size: 2rem;
    }
}